.burger {
  .bm-menu {
    background-color: #343440;
    // @include sp-small {
    //   width: 150px!important;
    // }
  }
  .bm-burger-button {
    height: 20px;
    width: 30px;
    z-index: 2;
    position: fixed;
    @include sp-small {
      width: 25px;
      height: 15px;
      right: 20px!important;
      top: 20px;
    }
    .line-style {
      height: 15%;
    }
  }
  .bm-cross-button {
    right: 0px !important;
  }
}

// vue-burger-menuのオーバーレイ要素の.bm-overlayが思うように動作しないため自作で付与
.custom-overlay {
  overflow: hidden;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2000;
  // headerの高さ分でネガティブマージンする
  margin-top: -90px;
  @include sp-small {
    margin-top: -60px;
  }
}
